/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../fonts/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */







@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 

.card-image-bottom {
    width: 100% !important ;
    height: 20vw !important;
    /* object-fit: cover !important; */
}

.titulo {
    text-align: center 
}

.categorias {
    text-align: center;
}

.categorias > a  {
    padding: 1.2rem 1.25rem !important;
}

.upload-img {
    display: none;
}

.form-principal {
    background-color: cadetblue;
}

.cardImg {
    height: 200px;
    width: 200px;
}

.titulo {
    font-family: "Roboto";
}

.bg-color {
    background-color: #90B3C7;
}

.fa-home {
    color: white;
}

.titulo-categoria {
    color: #90B3C7;
}

.categoria{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}